.play-list li{
    cursor: pointer;
    margin-bottom: 5px;
}
.active-audio{
    color: crimson;
}

@media (max-width: 640px) {
    .greeting-container {
        flex-wrap: nowrap;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .name {
         text-align: center;
    }
}

@media (max-width: 420px) {
    body {
        min-width: 420px;
        /*max-width: 1024px;*/
        /*max-width: 100%;*/
        margin: 0 auto;
    }
    .header {
        width: 100%;
        height: auto;
        padding: 5px;
        flex-direction: column;
        align-items: center;
    }

    .player-controls {
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
        gap: 5px;
    }
    .weather {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5px;
        width: 100%;
        min-height: auto;
        /* text-align: left; */
    }
    .city{
        text-align: center;
    }
    .main {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        min-height: auto;
        padding: 5px;
    }
    .greeting-container {
        min-height: auto;
        font-size: 25px;
    }
    .greeting-container {
        display: flex;
        min-height: auto;
        width: 100%;
        font-size: 35px;
        flex-direction: column;
    }
    .name {
        font-size: 32px;
        padding: 5px;
        cursor: pointer;
        width: 100%;
        max-width: initial;
        text-align: center;
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px;
    }
    .change-quote {
        margin-bottom: 10px;
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
    }
    .quote {
        min-height: auto;
    }
}



@media (max-width: 360px) {
    body {
        min-width: 100%;
        /*max-width: 1024px;*/
        /*max-width: 100%;*/
        margin: 0 auto;
    }
    .date {
        min-height: 0;
        /* font-size: 24px; */
        font-size: 1.3em;
        margin-bottom: 0;
    }
}




@media (max-width: 320px) {
    .time {
        min-height: 60px;
        font-size: 50px;
    }
    .date {
        /*min-height: 22px;*/
        font-size: 18px;
        margin-bottom: 0px;
    }
    .greeting-container, .name {
        font-size: 25px;
    }
}